{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>Tentang ISWMP</li>
                        </ul>
                        <h2 class="page-title">Tentang <span>ISWMP</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us">
                        <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="voluntee-info">
                                    <h4>Tentang ISWMP</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        ISWMP (Improvement of Solid Waste Management to Support Regional Area and Metropolitan Cities) merupakan program berskala nasional yang bertujuan untuk meningkatkan kinerja pengelolaan sampah yang beradaptasi dengan berbagai kondisi perkotaan yang berbeda di Indonesia. ISWMP ini akan dikembangkan di beberapa kabupaten/kota terpilih di Indonesia. Selaras dengan Peraturan Presiden No. 15 Tahun 2018 dimana sebagian besar dana investasi akan dialokasikan pada beberapa kota/kabupaten yang berada dalam DAS Citarum.
                                        Upaya ini diharapkan dapat membantu mewujudkan capaian Citarum Harum dengan kondisi sungai tanpa sampah. Korelasi program ISWMP terhadap program Citarum Harum disajikan pada Konsep dasar pelaksanaan ISWMP ini yaitu memberikan pendampingan terhadap kabupaten/kota dalam meningkatkan kinerja sistem pengelolaan sampah agar sejalan dengan platform pengelolaan sampah nasional. Berikut adalah prinsip dasar yang menjadi kunci pembaharuan sistem pengelolaan sampah kota/kabupaten : 
                                    </p>
                                </div>
                            </div>	
                            <div class="col-sm-6">
                                <div class="volunteer-avatar" style="padding-top: 25%;">
                                    <img src="assets/img/page/image-1.png" alt="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12">
                                    <ol class="volnteer-contact" style="text-align: justify;">
                                        <li>Pengelolaan sampah adalah kewajiban Pemerintah Daerah sehingga diperlukan komitmen Kepala Daerah untuk mengembangkan kebijakan yang mendukung pada terperbaharuinya sistem pengelolaan sampah di kota/ kabupaten masing masing;</li>
                                        <li>Pengelolaan sampah terdiri atas kegiatan pengurangan dan penanganan sampah yang dilakukan secara satu kesatuan sistem hulu-hilir;</li>
                                        <li>Pemilahan sampah wajib dilakukan, mengingat pemilahan akan meningkatkan efisien pengolahan, maka pemilahan di sumber sangat disarankan;</li>
                                        <li>Pengurangan sampah dilakukan dengan pendekatan Waste to Product (WtP) dari hulu ke hilir;</li>
                                        <li>Pembangunan infrastruktur perencanaan terpadu dan terintegrasi terhadap dokumen Rencana Induk Pengelolaan Sampah Regional, dan Rencana Induk Pengelolaan Sampah Kota/Kabupaten. Dan untuk meningkatkan kinerja sistem pengumpulan terpilah, perlu dikembangkan Rencana Teknis Pengelolaan Sampah di wilayah pelayanan infrastruktur;</li>
                                        <li>Kampanye perubahan perilaku wajib dilakukan secara terstruktur, masif, intensif dan kontinyu;</li>
                                        <li>Pemenuhan pembiayaan pengelolaan sampah di Kota/Kabupaten perlu dilakukan dengan menerapkan Konsep pembiayaan Full Cost Recovery dengan melakukan penataan sistem retribusi jasa pengelolaan sampah oleh Pemerintah Kota/Kabupaten;</li>
                                        <li>Penegakan hukum wajib diterapkan atas dasar yang pasti dan dengan membangun sistem dan perangkat penegakan hukum yang memiliki kapasitas;</li>
                                    </ol>
                                    
                            </div>	
                        </div>
                        	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}