{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Laporran</li>
                        </ul>
                        <h2 class="page-title">Laporan <span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <iframe title="coba - Halaman 1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMGIyNWYzNzctMGM1Ny00MjQwLWEwMWUtM2Y2MDVlZTUyMDcyIiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
