{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Laporran</li>
                        </ul>
                        <h2 class="page-title">Laporan <span></span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <iframe title="coba" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=8ac8f108-10b8-44ff-9bd1-38efda930d38&autoAuth=true&ctid=601b3e59-da2e-4685-b9e2-9add131a711e&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1iLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
