<footer class="strip light">
  <div class="gap">
      <div class="container">
          <div class="row">
              <div class="col-md-4 col-sm-6">
                  <div class="widget fadein">
                      <div class="logo">
                          <h1><a href="index.html" title=""><img src="assets/img/logo/ISWMP-Black-e1625063553563.png" alt=""></a></h1>
                      </div>
                      <ul class="address">
                          <!-- <li><i class="ion-ios-telephone"></i>001 442 23523, 5356445</li> -->
                          <li><i class="ion-ios-email"></i><span>sekretariat@npmc-iswmp.com</span></li>
                          <li><i class="ion-ios-telephone"></i><span>Pengaduan ISWMP: +62 821-1639-6536</span></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-2 col-sm-6">
                  <!-- <div class="widget fadein">
                      <h4 class="widget-title">Flickr Feeds</h4>
                      <ul class="flickr-gallery">
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-1.jpg" alt=""></a></li>
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-2.jpg" alt=""></a></li>
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-3.jpg" alt=""></a></li>
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-4.jpg" alt=""></a></li>
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-5.jpg" alt=""></a></li>
                          <li><a href="index-onepage-light.html#" title=""><img src="assets/img/resources/filcker-widget-6.jpg" alt=""></a></li>
                      </ul>
                  </div> -->
                  
              </div>
              <div class="col-md-2 col-sm-6">
                  <div class="widget fadein">
                      <h4 class="widget-title">NPMC ISWMP</h4>
                      <ul class="success-stories">
                          <li style="width: 100%;"><span><i>Jalan Suryalaya Tengah No.38</i><i>Kota Bandung</i><i>Provinsi Jawa Barat</i></span></li>
                          <!-- <li style="width: 100%;"><a href="https://ciptakarya.pu.go.id" target="_blank">ciptakarya.pu.go.id</a><span>+6221 7279832</span></li> -->
                      </ul>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="widget fadein">
                      <h4 class="widget-title">Lokasi Kami</h4>
                      <div class="footer-map">
                          <img src="assets/img/indo-map.png" alt="">
                          <div class="pointer" style="left:26%; top:72%;"> <span></span>
                              <div class="address-tooltip">
                                  <ul>
                                      <li><i class="ion-ios-location"></i>Suryalaya Tengah No.38 Bandung, Jawa Barat, Indonesia.</li>
                                  </ul>
                              </div>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer><!-- fancy footer -->
