<header class="fixed stick">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="language-select">
                      <span><img src="assets/img/flag-id.png" alt="">ID <i class="ion-ios-arrow-down"></i> </span>
                      <ul>
                          <li><a href="index-onepage-light.html#" title="" data-ripple="">EN</a></li>
                      </ul>
                  </div>
                  <ul class="useful-links">
                      <!-- <li><a href="index-onepage-light.html#" title="">my account</a></li>
                      <li><a href="index-onepage-light.html#" title="">Our Story</a></li>
                      <li><a href="index-onepage-light.html#" title="">what we do</a></li> -->
                  </ul>
                  <a class="be-Volunteer-btn volenter-btn" href="index-onepage-light.html#" title="#" data-ripple="">Login Monitoring</a>
              </div>
          </div>
      </div>
  </div><!-- topbar -->
  <div class="container">
      <div class="row">
          <div class="col-sm-2">
              <div class="logo">
                  <h1><a href="index.html"><img src="assets/img/logo/ISWMP-Black-e1625063553563.png" alt=""></a></h1>
              </div>
          </div>
          <div class="col-sm-10">
              <nav>
                  <div class="main-menu">
                      <ul>
                          <li><a href="/" title="">Beranda</a></li>
                          <li><a href="/about" title="">Tentang ISWMP</a>
                            <ul class="">
                              <li><a href="/tujuan" title="" data-ripple="">Tujuan dan Sasaran</a></li>
                              <li><a href="/indikator" title="" data-ripple="">Indikator Program</a></li>
                              <li><a href="/implementasi" title="" data-ripple="">Implementasi Program</a></li>
                              <li><a href="/strategi" title="" data-ripple="">Strategi Pelaksanaan</a></li>
                              <li><a href="/keluaran" title="" data-ripple="">Keluaran dan Dampak</a></li>
                              <li><a href="/owp" title="" data-ripple="">OWP</a></li>
                            </ul>
                          </li>
                          <li><a href="index-onepage-light.html#donate" title="">Progres ISWMP</a>
                            <ul class="">
                              <li><a href="index.html" title="" data-ripple="">Progres Keuangan</a>
                                <ul class="">
                                  <li><a href="index.html" title="" data-ripple="">Progres Keuangan Bulanan</a></li>
                                  <li><a href="index2.html" title="" data-ripple="">Progres Keuangan Triwulan</a></li>
                                </ul>
                              </li>
                              <li><a href="index2.html" title="" data-ripple="">Progres AWP</a>
                                <ul class="">
                                  <li><a href="index.html" title="" data-ripple="">Progres AWP 2021</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <li><a href="index-onepage-light.html#blog" title="">Publikasi</a>
                            <ul class="">
                              <li><a href="index.html" title="" data-ripple="">Berita</a></li>
                              <li><a href="index2.html" title="" data-ripple="">Jadwal Kegiatan NPMC ISWMP</a></li>
                            </ul>
                          </li>
                          <li><a href="index-onepage-light.html#team" title="">Galeri</a>
                            <ul class="">
                              <li><a href="photos" title="" data-ripple="">Foto</a></li>
                              <li><a href="Videos" title="" data-ripple="">Video</a></li>
                              <li><a href="index2.html" title="" data-ripple="">Laporan</a></li>
                            </ul>
                          </li>
                          <li><a href="index-onepage-light.html#contact" title="">Lapor</a>
                            <ul class="">
                              <li><a href="index.html" title="" data-ripple="">Laporan</a></li>
                              <li><a href="index2.html" title="" data-ripple="">Form Pengaduan</a></li>
                            </ul>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div><!-- navbar and logo -->
</header><!-- header 1 -->