<header class="fixed full-transparent">
  <div class="topbar">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="language-select">
                      <span><img src="assets/img/flag-1.png" alt="">English <i class="ion-ios-arrow-down"></i> </span>
                      <ul>
                          <li><a href="index-onepage-light.html#" title="" data-ripple="">hindi</a></li>
                          <li><a href="index-onepage-light.html#" title="" data-ripple="">USSR</a></li>
                          <li><a href="index-onepage-light.html#" title="" data-ripple="">Arabic</a></li>
                      </ul>
                  </div>
                  <ul class="useful-links">
                      <li><a href="index-onepage-light.html#" title="">my account</a></li>
                      <li><a href="index-onepage-light.html#" title="">Our Story</a></li>
                      <li><a href="index-onepage-light.html#" title="">what we do</a></li>
                  </ul>
                  <a class="be-Volunteer-btn volenter-btn" href="index-onepage-light.html#" title="#" data-ripple="">Be A Volunteer</a>
              </div>
          </div>
      </div>
  </div><!-- topbar -->
  <div class="container">
      <div class="row">
          <div class="col-sm-2">
              <div class="logo">
                  <h1><a href="index.html"><img src="assets/img/logo2.png" alt=""></a></h1>
              </div>
          </div>
          <div class="col-sm-10">
              <nav>
                  <div class="main-menu">
                      <ul>
                          <li><a href="index-onepage-light.html#home" title="">home</a></li>
                          <li><a href="index-onepage-light.html#cause" title="">our cause</a></li>
                          <li><a href="index-onepage-light.html#donate" title="">donate us</a></li>
                          <li><a href="index-onepage-light.html#blog" title="">blog</a></li>
                          <li><a href="index-onepage-light.html#team" title="">our team</a></li>
                          <li><a href="index-onepage-light.html#contact" title="">contact us</a></li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div><!-- navbar and logo -->
</header><!-- header 1 -->