{% extends "frontend/layout.html" %} {% block content %}

<section>
  <div class="gap nogap">
      <div id="layerslider-container-fw">
          <div id="layerslider" style="width: 100%; height: 700px; margin: 0 auto; ">		

              <div class="ls-slide" data-ls="transition2d:40; timeshift:-2000;">	
                  <img src="assets/img/slider/slider1.jpg" class="ls-bg" alt="Slide background" />
                  <div class="ls-l slide-subtitle" 
                       style="
                       top:200px;
                       left:20px;
                       font:bold 40px 'arimo'; 
                       color:#fff; 
                       letter-spacing:1px;
                       " data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;"></div>

                  <div class="ls-l slide-title layer-text" 
                       style="
                       top:250px;
                       left:18px;
                       font-size:70px;
                       font-weight:bold; 
                       font-family:arimo;
                       letter-spacing:1px;
                       " data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;"></div>

                  <div class="ls-l blackbox" 
                       style="
                       top:350px;
                       left:20px;
                       font-size:13px;
                       font-family:arimo;
                       color:#fff;
                       letter-spacing:1px;
                       list-style:circle;
                       " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                  <div class="ls-l blackbox" 
                       style="
                       top:375px;
                       left:20px;
                       font-size:13px;
                       font-family:arimo;
                       color:#fff;
                       letter-spacing:1px;
                       " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                  <div class="ls-l blackbox" 
                       style="
                       top:400px;
                       left:20px;
                       font-size:13px;
                       font-family:arimo;
                       color:#fff;
                       letter-spacing:1px;
                       " data-ls="offsetxin:50;delayin:1200;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></div>

                  <div class="ls-l slide-subtitle" 
                       style="
                       top:350px;
                       left:20px;

                       " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">
                      <a href="/about" data-ripple="" class="ls-l sl-2 layer-button" 
                         style="
                         top:465px;
                         left:18px;
                         font:bold 11px 'open sans';
                         color:#fff;
                         letter-spacing:1px;
                         padding:18px 28px;
                         text-transform:uppercase;
                         display:inline-block;
                         " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Selengkapnya</a>
                  </div>                                
                            

              </div><!-- Slide1 -->

              <div class="ls-slide" data-ls="transition2d:40; timeshift:-2000;">	
          <img src="assets/img/slider/slider1.jpg" class="ls-bg" alt="Slide background" />
          <div class="ls-l sl-2 slide-subtitle" 
               style="
               top:200px;
               left:8px;
               color:#fff;
               font:bold 18px 'arimo';
               letter-spacing:2.5px;
               text-transform:uppercase;
               " data-ls="offsetxin:-50;durationin:2000;delayin:500;offsetxout:-50;durationout:1000;"></div>

          <div class="ls-l sl-2 slide-title" 
               style="
               top:210px;
               left:0;
               font:bold 140px 'arimo';
               letter-spacing:3px;
               text-transform:uppercase;
               text-shadow:1px 1px 2px #000;
               color:#fff;
               " data-ls="offsetxin:0;durationin:2500;delayin:900;scalexin:0;scaleyin:0;offsetxout:0;scalexout:0;scaleyout:0;"></div>

          <span class="ls-l sl-2 slide-desc" 
                style="
                top:370px;
                left:8px;
                font:13px 'arimo';
                color:#fff;
                letter-spacing:1px;
                width:40%;
                line-height:30px;
                " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;"></span>

          <a href="/about" data-ripple="" class="ls-l sl-2 layer-button" 
             style="
             top:465px;
             left:10px;
             font:bold 11px 'open sans';
             color:#fff;
             letter-spacing:1px;
             padding:18px 28px;
             text-transform:uppercase;
             display:inline-block;
             " data-ls="offsetxin:50;delayin:1500;skewxin:-60;offsetxout:-50;durationout:1000;skewxout:-60;">Selengkapnya</a>

      </div><!-- Slide2 -->

          </div>
      </div><!-- Layer Slider -->	
  </div>
</section><!-- Slider Section -->

<section>
    <div class="gap whitish low-opacity">
        <div class="parallax" style="background:url(assets/img/resources/about-background.jpg) no-repeat;" data-velocity="-.1"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-2">
                        <!-- <span>Latest causes</span> -->
                        <h4>Tentang <span>ISWMP</span></h4>
                        <img src="assets/img/icon-1.png" alt="">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="paralex-section">
                        <span>ISWMP (Improvement of Solid Waste Management to Support Regional Area and Metropolitan Cities)</span>
                        <!-- <h2>We Need Your Help. Please</h2> -->
                        <p>
                             merupakan program berskala nasional yang bertujuan untuk meningkatkan kinerja pengelolaan sampah yang beradaptasi dengan berbagai kondisi perkotaan yang berbeda di Indonesia. ISWMP ini akan dikembangkan di beberapa kabupaten/kota terpilih di Indonesia. Selaras dengan Peraturan Presiden No. 15 Tahun 2018 dimana sebagian besar dana investasi akan dialokasikan pada beberapa kota/kabupaten yang berada dalam DAS Citarum.
  
                        </p>
                        <a href="/about" title="" class="button-large fromdown" data-ripple="">Selengkapnya</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section><!-- parallax section -->

<section id="cause">
  <div class="gap">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="heading-2">
                      <h4><span>Berita</span> dan <span>Agenda</span></h4>
                      <span>“Di bawah ini adalah kumpulan artikel kegiatan dan agenda terkait program ISWMP diperbaharui secara berkala”</span>
                      <img src="assets/img/icon-1.png" alt="">
                  </div>
              </div>
              <div class="our-cause-caro">
                <div class="blog-listing fadein">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/1-2-e1627449894600-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Kolaborasi Membangun Ekosistem Pengolahan Sampah</a></h2>
                        <p>
                            Dalam rangka membangun Ekosistem Pengolahan Sampah yang mampu mempersiapkan keberlanjutan infrastruktur pengolahan sampah TPST dengan teknologi RDF, NPMC...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/WhatsApp-Image-2021-06-19-at-17.20.21-1170x500.jpeg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Sosialisasi Awal ISWMP pada 8 Kota/ Kabupaten</a></h2>
                        <p>
                            Pelaksanaan kunjungan merupakan tahapan sosialisasi ISWMP pada masing-masing pemerintah daerah kabupaten/kota sasaran ISWMP dilaksanakan oleh Tim NPMC dari...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/WhatsApp-Image-2021-06-19-at-17.19.56-1170x500.jpeg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Kunjungan ISWMP: Biomass Operating System of Saguling (BOSS), PT Indonesia Power Saguling Pomu</a></h2>
                        <p>
                            Stakeholder ISWMP di antaranya Central Project Management Unit (CPMU) Kementerian PUPR, Central Project Implementation (CPIU) Bappenas, CPIU PUPR,...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>
                <div class="blog-listing fadein">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/berita051021-1-1170x500.png" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Rapat Koordinasi Tindak Lanjut Implementasi Satu Data Bidang Persampahan</a></h2>
                        <p>
                            Selasa, 27 September 2021, NPMC ISWMP melaksanakan kegiatan Rapat Koordinasi Tindak Lanjut Implementasi Satu Data Bidang Persampahan yang...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>

                <div class="blog-listing fadein">
                    <div class="cause-avatar">
                        <a href="single-blog.html" title=""><img src="assets/img/news/Workshop-Penanganan-Kawasan-DAS-Citarum-1170x500.jpg" alt=""></a>
                    </div>
                    <div class="listing-meta" style="padding-left:1px">
                        <ul class="post-date">
                            <li><span>at-</span> <a href="blog-listing-leftbar.html#" title="">12 January 2019</a></li>
                            <li><span>by-</span> <a href="blog-listing-leftbar.html#" title="">lifeaid</a></li>
                        </ul>
                        <h2><a href="single-blog.html" title="">Workshop Penanganan Kawasan DAS Citarum</a></h2>
                        <p>
                            Pada hari Rabu hingga Kamis, 8-9 September 2021, Direktorat Sanitasi Kementerian PUPR mengadakan Workshop Penanganan Kawasan DAS Citarum...
                        </p>
                        <ul class="socials">
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href="blog-listing-leftbar.html#" title=""><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                        <a href="single-blog.html" title="" class="button-small" data-ripple="">continue</a>
                    </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</section><!-- our causes carousel -->

{% endblock %}
