{% extends "frontend/layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.css"/>
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.orange-coral.min.css"/>

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

<style>
    .calendar-year p {
        color: #fff !important;
    }
</style>
<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>Jadwal Kegiatan</li>
                        </ul>
                        <h2 class="page-title">Jadwal <span>Kegiatan</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
                
            <div class="row">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="padding-top: 10%;">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <h3 id="event">Some text in the modal.</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

{% endblock %}