{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>Keluaran dan Dampak</li>
                        </ul>
                        <h2 class="page-title">Keluaran<span> dan </span>Dampak</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us">
                        <div class="row">
                            
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Keluaran dan Dampak</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        Pada dasarnya tujuan dari pelaksanaan program ini yaitu untuk memberikan kontribusi terhadap pencapaian target pemerintah Indonesia yaitu 100% pelayanan sektor persampahan pada tahun 2025 dengan target pengurangan sampah sebesar 30% dan penanganan sampah sebesar 79%. Program ini bertujuan untuk memberikan kontribusi terhadap pencapaian target Pemerintah Indonesia sektor persampahan, dimana ditargetkan peningkatan akses menjadi 100% pada tahun 2025 dengan target 30% pengurangan dan 70% penanganan. Dampak lanjutan dari keberhasilan program ini antara lain:
                                    </p>
                                </div>
                                <ol class="volnteer-contact" style="text-align: justify;">
                                    <li>Pengurangan pencemaran, terutama emisi GRK dan sampah yang masuk ke lautan, serta peningkatan kesehatan lingkungan akibat terjadinya peningkatan fasilitas eksisting dan kinerja sistem pengelolaan sampah (pengumpulan, pengangkutan dan pemrosesan akhir);</li>
                                    <li>Dampak positif sosial dan ekonomi yang signifikan terkait terciptanya lapangan pekerjaan serta peningkatan kesehatan masyarakat dan lingkungan</li>
                                    <li>Peningkatan dalam pengelolaan sampah akan berdampak pada meningkatnya nilai tanah/lahan di lokasi tersebut, yang pada akhirnya tidak hanya akan meningkatkan sektor perekonomian, tetapi juga dapat meningkatkan sektor pariwisata secara keseluruhan, terutama kaitannya dengan pengurangan sampah laut</li>
                                    <li>Program ini diharapkan dapat menstimulasi Pemerintah Kabupaten/Kota untuk mengalokasikan anggaran ataupun investasi yang memadai serta penggunaan dana operasional secara lebih efisien dalam sektor pengelolaan sampah</li>
                                    <li>Adanya penerapan praktek-praktek terbaik dan telah teruji skala internasional, solusi efektif terbaik bagi sektor pembangunan dan investasi di Indonesia, termasuk manfaat yang diperoleh dari kegiatan daur ulang sampah, pemulihan energi, dan pemilahan sampah dalam komponen utama operasional pengelolaan sampah.</li>
                                </ol>
                            </div>	
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Tabel 2.10</h4>
                                    <span class="volunter-about">
                                        dibawah ini:
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Tabel 2.10</h4>
                                    <span class="volunter-about">
                                        Keluaran setiap komponen program ISWMP:
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="single-avatar fadein">
                                    <img src="assets/img/page/image-3.png" alt="" style="width: 50%;margin-left: 25%;">
                                </div>
                            </div>
                            
                        </div>
                        	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}