<!DOCTYPE html>
<html lang="id">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="multipurpose" />
  <meta name="keywords" content="multipurpose, lifeaid" />
  <title>NPMC-ISWMP – The Improvement of Solid Waste Management to Support Regional and Metropolitan Cities Program</title>

  <!-- Favicons -->
  <!-- <link href="{{base_url}}assets/img/logo/favicon.ico" rel="icon"> -->

  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/ionicons.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/animate.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/owl.carousel.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/nice-select.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/nprogress.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/ripple.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/silk-accordion.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/style.css">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/elements.css">

  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/color.css" title="default">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/green.css" title="color1">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/red.css" title="color2">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/yellow.css" title="color3">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/light-pink.css" title="color4">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/dark-green.css" title="color5">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/blue.css" title="color6">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/gray.css" title="color7">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/colors/pink.css" title="color8">
  <link rel="stylesheet" href="{{base_url}}assets/frontend/css/responsive.css">

  <link rel="stylesheet" href="{{base_url}}assets/frontend/layerslider/css/layerslider.css" type="text/css">

  <link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.css"/>
<link rel="stylesheet" type="text/css" href="{{base_url}}assets/frontend/evo-calendar/css/evo-calendar.orange-coral.min.css"/>

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

<style>
  .calendar-year p {
      color: #fff !important;
  }
</style>
</head>

  <body>

    <div class="site-layout">
    {% include "frontend/header.html" %}
    {% include "frontend/header-responsive.html" %}
    {% block content %} {% endblock %}
    </div>

    {% include "frontend/footer.html" %}

  <script data-cfasync="false" src="{{base_url}}assets/frontend/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.js"></script>
  <script src="{{base_url}}assets/frontend/js/bootstrap.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/owl.carousel.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.scrolly.js"></script>
  <script src="{{base_url}}assets/frontend/js/nice-select.js"></script>
  <script src="{{base_url}}assets/frontend/js/nprogress.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.scrolly.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.counterup.min.js"></script><!-- for funfacts -->
  <script src="{{base_url}}assets/frontend/js/scrolltopcontrol.js"></script>
  <script src="{{base_url}}assets/frontend/js/onscreen.js"></script>
  <script src="{{base_url}}assets/frontend/js/ripple.js"></script>
  <script src="{{base_url}}assets/frontend/js/styleswitcher.js"></script>
  <script src="{{base_url}}assets/frontend/js/perfect-scrollbar.jquery.js"></script>
	<script src="{{base_url}}assets/frontend/js/perfect-scrollbar.js"></script>	
  <script src="{{base_url}}assets/frontend/js/smoothscroll.min.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.stickit.js"></script>	
  <script src="{{base_url}}assets/frontend/js/script.js"></script>
  <script src="{{base_url}}assets/frontend/js/jquery.counterup-essential.js"></script><!-- for funfacts counter -->

  <script src="{{base_url}}assets/frontend/layerslider/js/greensock.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
  <script src="{{base_url}}assets/frontend/js/layerslider-init.js"></script>
  <script src="{{base_url}}assets/frontend/js/html5lightbox.js"></script>

  <script src="{{base_url}}assets/frontend/evo-calendar/js/evo-calendar.js"></script>
  <script src="{{base_url}}assets/frontend/evo-calendar/js/evo-calendar.min.js"></script>

    {% block js %} {% endblock %}

    {% if script %}
     <script src = "{{script}}"></script>
    {% endif %}

    <script>
        $('#login-monitoring').on('click',function(){
            window.open('http://plpbm.pu.go.id/tfl/production/');
        })

        $(function () {    
            loaddata();

            // selectEvent
            $('#calendar').on('selectEvent', function(event, activeEvent) {
                
                $('#myModal').modal('show');
                $('#event').html(activeEvent.name);
                $('.modal-title').html(activeEvent.date);
            });
        })

        function loaddata(){
          $.ajax({
              type: 'post',
              dataType: 'json',
              url: 'getglobal',
              data : {
                      param       : 'data_jadwal',
                      type        : 'jadwal',
              },
              success: function(result){
                  let code = result.code;
                  let data = result.data;
                  
                  let myEvents = [
                      
                  ]

                  for (let index = 0; index < data.length; index++) {
                      
                      if(data[index]['status'] == 1){
                          const d = new Date(data[index]['tanggal']);
                          let time = d.toLocaleTimeString();
                          var hours = Number(time.match(/^(\d+)/)[1]);
                          var minutes = Number(time.match(/:(\d+)/)[1]);
                          var AMPM = time.match(/\s(.*)$/)[1];
                          if(AMPM == "PM" && hours<12) hours = hours+12;
                          if(AMPM == "AM" && hours==12) hours = hours-12;
                          var sHours = hours.toString();
                          var sMinutes = minutes.toString();
                          if(hours<10) sHours = "0" + sHours;
                          if(minutes<10) sMinutes = "0" + sMinutes;
                          
                          myEvents.push(
                              { 
                                  id: data[index]['id'],
                                  name: sHours + ":" + sMinutes + ' - ' + data[index]['event'], 
                                  date: data[index]['tanggal'], 
                                  type: "holiday", 
                                  everyYear: true,
                                  color: "#222"
                              }
                          )
                      }

                  }
                  
                  myEvents.sort(function (a, b) {
                      var dateA = new Date(a.date), dateB = new Date(b.date)
                      return dateB - dateA
                  });

                  $('#calendar').evoCalendar({
                      theme: 'Orange Coral',
                      calendarEvents : myEvents.reverse()
                  })

              }
          })
          }

    </script>
</body>
</html>
