{% extends "frontend/layout.html" %} {% block content %}
<style>
    #tab-outer {
  position:relative;
  font:normal 12px Arial,Sans-Serif;    
}

#tab-outer * {
  margin:0px 0px;
  padding:0px 0px;    
}

#tab-wrapper {
  list-style:none;
  height:30px;
}

#tab-wrapper li {
  margin:0px 0px 0px 2px;
  float:left;
  font-weight:bold;
}

#tab-wrapper li a {
  display:block;
  padding:0px 15px;
  line-height:30px;
  text-decoration:none;
  color:white;
  background-color:#58b9ff; 
}

#tab-wrapper li.active a {
  background-color:#1c6295;
}

#tab-body > div {
  background-color:#1c6295;
  color:white;
  padding:10px 15px;
  border-bottom:4px solid #1c6295;
  height:100%; /* Contoh */    
}

</style>
<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Progres ISWMP</li>
                        </ul>
                        <h2 class="page-title">MONITORING <span>{{ param }}</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->
{% if param == 'BALI' %}
<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-2 margin-btm">
                    </div>
                    <div class="contact-page">
                        <div id="tab-outer">
                            <ul id="tab-wrapper">
                                <li><a href="#tab1">TPST Padang Sambian</a></li>
                                <li><a href="#tab2">TPST Kesiman Kertalangu</a></li>
                                <li><a href="#tab3">TPST Tahura</a></li>
                                <li><a href="#tab4">Catatan Progress</a></li>
                            </ul>
                            <div id="tab-body">
                                <div id="tab1">
                                    <iframe title="Progres ISWMP - Denpasar - Halaman 1" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>                                </div>
                                <div id="tab2">
                                    <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection9c10814e5af14045059e" frameborder="0" allowFullScreen="true"></iframe>                                </div>
                                <div id="tab3">
                                    <iframe title="Progres ISWMP - Denpasar" width="1024" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNjgwZGY4YTAtNzY3MS00ZTkwLTgxYjAtYzE5MTA2YzJjMjg3IiwidCI6IjYwMWIzZTU5LWRhMmUtNDY4NS1iOWUyLTlhZGQxMzFhNzExZSIsImMiOjEwfQ%3D%3D&pageName=ReportSection0907aeaea98f5bcd344f" frameborder="0" allowFullScreen="true"></iframe>                                
                                </div>
                                <div id="tab4">
                                    <!-- <iframe width="1024" height="1060" src="https://docs.google.com/document/d/e/2PACX-1vTX-wZ5cRz6njNM2AubY8Z_dFXjRt2ANQRPOkzRoC1gL6HfS6icnR9RZhdlOfwyxf03Z1L1Lf0YLFGg/pub?embedded=true"></iframe> -->
                                    <iframe width="1024" height="1060" src="https://docs.google.com/document/d/e/2PACX-1vT_hVLktWNHf0QapkMG0Ik9B1DPMYAD0eA3rcqHOBows22Z9hdzqwzv7sBQg_ALY_DC-ymO_GCOHm9t/pub?embedded=true"></iframe> 
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if param == 'CITARUM' %}
<section id="contact">
    <div class="gap nogap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-2 margin-btm">
                    </div>
                    <div class="contact-page">
                            <iframe width="1024" height="1060" src="https://sipsn.menlhk.go.id/sipsn/"></iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
