{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="blog-listing-rightbar.html#" title="">Beranda</a></li>
                            <li>Berita</li>
                        </ul>
                        <h2 class="page-title"><span>Berita</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    
                    <div class="our-cause remove-ext-50 loader-data" id="itemContainer">

                    </div>
                    <div class="holder"></div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <aside>
                        <div class="widget fadein">
                            <div class="search">
                                <form>
                                    <input type="text" placeholder="search...">
                                    <button><i class="ion-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- <div class="widget fadein">
                            <h4 class="widget-title">charity video</h4>
                            <div class="video-widget">
                                <img src="assets/img/resources/video-donate.jpg" alt="">
                                <a href="https://player.vimeo.com/video/1084537" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                        </div>
                        <div class="widget fadein">
                            <h4 class="widget-title">gallery widget</h4>
                            <ul class="gallery">
                                <li>
                                    <a href="assets/img/resources/gallery-full-1.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-1.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-2.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-2.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-3.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-3.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-4.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-4.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-5.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-5.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-6.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-6.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-7.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-7.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-8.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-8.jpg" alt=""></a>
                                </li>
                                <li>
                                    <a href="assets/img/resources/gallery-full-9.jpg" data-showsocial="false"  class="html5lightbox" data-group="set2" title=""><img src="assets/img/resources/wid-gallery-9.jpg" alt=""></a>
                                </li>
                                
                            </ul>
                        </div> -->
                        <div class="widget fadein">
                            <h4 class="widget-title">latest posts</h4>
                            <ul class="latest posts">
                                <li>
                                    <div class="latest-avatar">
                                        <a href="single-blog.html" title="">
                                            <img src="assets/img/resources/latest-post-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-meta">
                                        <h2><a href="single-blog.html" title="">Food For Africa Chilren</a></h2>
                                        <span class="postdate">13 January, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-avatar">
                                        <a href="single-blog.html" title="">
                                            <img src="assets/img/resources/latest-post-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-meta">
                                        <h2><a href="single-blog.html" title="">Food For Africa Chilren</a></h2>
                                        <span class="postdate">13 January, 2019</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-avatar">
                                        <a href="single-blog.html" title="">
                                            <img src="assets/img/resources/latest-post-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="latest-meta">
                                        <h2><a href="single-blog.html" title="">Food For Africa Chilren</a></h2>
                                        <span class="postdate">13 January, 2019</span>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- latest widget -->

                        
                    </aside>
                </div><!-- side widgets -->
            </div>
        </div>
    </div>
</section><!-- blog listing with right bar -->

{% endblock %}