{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>OWP</li>
                        </ul>
                        <h2 class="page-title"><span>OWP</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-avatar fadein">
                                    <img src="assets/img/page/image-4.png" alt="" >
                                </div>
                            </div>
                        </div>
                        	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}