{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="about-us.html#" title="">Beranda</a></li>
                            <li>STRUKTUR PROYEK</li>
                        </ul>
                        <h2 class="page-title"><span>STRUKTUR </span>PROYEK</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about-us">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single-avatar fadein">
                                    <img src="assets/img/strukturiswmp.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Komite Pengarah (Streering Committee)</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        Komite Pengarah bertanggung jawab dalam mengkoordinasikan program di tingkat pusat serta pembahasan dan penyelesaian masalah terkait yang memerlukan keputusan antar kementerian, mendukung pengembangan kebijakan, dan memantau pencapaian prioritas pembangunan nasional dalam sektor pendukung yang relevan.
                                    </p>
                                </div>
                            </div>	
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Central Project Management Unit (CPMU)</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        Central Project Management Unit (CPMU) dalam Proyek ISWM adalah Kementerian PUPR. CPMU akan menetapkan hal terkait pengadaan, pengelolaan keuangan dan pengaman/safeguard agar pelaksanaan program sesuai dengan kebijakan dan pedoman Bank Dunia. CPMU akan bertanggung jawab atas: pengelolaan keseluruhan program untuk mencapai tujuan program dan Indikator Kinerja Utama (KPI); mengawasi dan mengkoordinasikan laporan keseluruhan pelaksanaan proyek; menjalankan fungsi perencanaan, meninjau kembali dan mengintegrasikan laporan proyek dan program kerja tahunan (AWP), dan lain-lain. Dalam menjalankan tugas nya CPMU akan dibantu oleh Konsultan Pengelola Proyek.
                                    </p>
                                </div>
                            </div>	
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Central Project Implementation Unit (CPIU)</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        Bertugas dalam pelaksanaan kegiatan secara tepat waktu; melakukan pengadaan yang sesuai, manajemen kontrak dan administrasi keuangan; serta melakukan pengawasan dan pemantauan setiap kegiatan berdasarkan lingkup komponen proyek. Adapun tanggung jawab masing masing kelembagaan per komponen adalah sebagai berikut:
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <ul class="volnteer-contact" style="text-align: justify;">
                                    <li>Komponen 1: Kemendagri*, Bappenas dan Kementerian LHK;</li>
                                    <li>Komponen 2: Kementerian PUPR*, Kemendagri dan Kementerian LHK;</li>
                                    <li>Komponen 3: Kementerian PUPR*;</li>
                                    <li>Komponen 4: Kementerian PUPR*, Kementerian LHK; Kemendagri* dan Bappenas</li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <div class="voluntee-info">
                                    <h4>Project Implementation Unit (PIU)</h4>
                                    <p class="volunter-about" style="text-align: justify;">
                                        Adapun tugas khusus dari PIU Kabupaten/Kota dan PIU Provinsi yaitu mempersiapkan proposal sub-program, persiapan (termasuk penyediaan lahan, memberi masukan untuk studi kelayakan dan DED; masukan dalam aspek teknis, keuangan, dan kelembagaan serta pengalokasian anggaran terkait operasional dan pemeliharaan ; serta pemastian keberlanjutan sistem).
                                    </p>
                                </div>
                            </div>		
                            
                        </div>
                        	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- volunteer info section -->

{% endblock %}