{% extends "frontend/layout.html" %} {% block content %}

<section>
    <div class="gap no-bottom blackish low-opacity">
        <div class="bg-image"><img src="assets/img/resources/pagetop.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-top">
                        <ul class="bread-crumb">
                            <li><a href="gallery-simple.html#" title="">Beranda</a></li>
                            <li>Galeri</li>
                        </ul>
                        <h2 class="page-title">Dokumentasi <span>Video</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- page top title with bread crumb -->

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="our-cause remove-ext-50 loader-data" id="itemContainer">
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/8E6ivYoUTtQ/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/8E6ivYoUTtQ?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/ntPV3Ruu0ho/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/ntPV3Ruu0ho?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/Z7sjqS1pR5c/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/Z7sjqS1pR5c?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/9Ikk-ESv7Bw/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/9Ikk-ESv7Bw?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/eLZv-UpZdWI/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/eLZv-UpZdWI?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/-kRTrozeIqo/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/-kRTrozeIqo?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/9Gn4Hpzxxa4/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/9Gn4Hpzxxa4?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="video-post">
                            <div class="video-widget">
                                <img src="http://img.youtube.com/vi/WVCEmDDtzg4/0.jpg" alt="">
                                <a href="https://www.youtube.com/embed/WVCEmDDtzg4?autoplay=0&amp;controls=1&amp;showinfo=0&amp;autohide=1&amp;rel=0&amp;iv_load_policy=3" data-showsocial="false" class="html5lightbox" data-group="set2" title=""><i class="ion-android-arrow-dropright-circle"></i></a>
                            </div>
                            <h4><a href="single-video.html" title=""></a></h4>
                        </div>
                    </div>
                </div>
                <div class="holder"></div>
            </div>
        </div>
    </div>
</section><!-- videos posts -->

{% endblock %}
