{% extends "admin/layout.html" %} {% block content %}
<style>
  .custom-file-label::after {
    width: 100%;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-8">
        <h1><i class="nav-icon fa fa-clone"></i> Tahap Perencanaan</h1>
      </div>
      <div class="col-sm-4">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Readiness Criteria</a></li>
          <li class="breadcrumb-item active">List data</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-lightblue card-outline">
          <div class="card-header">
            <h1 class="card-title">Penilaian Readiness Criteria Lahan</h1>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                  
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="card card-lightblue card-outline card-outline-tabs">
                  <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#tab_1" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Profil Usulan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#tab_2" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Rencana Pembagian</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#tab_3" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Rencana Teknis</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#tab_4" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Kelengkapan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#tab_5" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Status Usulan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-four-settings-tab" data-toggle="pill" href="#tab_6" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Pendetailan</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                      <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

                          <div class="btn btn-success" id="add-data-1">
                            <i class="fas fa-plus"></i><span> Tambah Data</span>
                          </div>
                          <hr/>
                          <input id="param" value="" hidden>
                          <table class="table table-bordered table-hover datatable" id="list_1">
                              <thead>
                                  <tr>
                                      <th>
                                          No
                                      </th>
                                      <th>
                                        Jenis Infrastruktur
                                      </th>
                                      <th>
                                        Desa/Kelurahan
                                      </th>
                                      <th>
                                        Kecamatan
                                      </th>
                                      <th>
                                        Kabupaten/Kota
                                      </th>
                                      <th>
                                        Deskripsi Urgensi Kegiatan
                                      </th>
                                      <th>
                                        Jenis Usulan
                                      </th>
                                  </tr>
                              </thead>
                          </table>

                      </div>
                      <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                        <div class="btn btn-success" id="add-data-2">
                          <i class="fas fa-plus"></i><span> Tambah Data</span>
                        </div>
                        <hr/>
                        <input id="param" value="" hidden>
                        <table class="table table-bordered table-hover datatable" id="list_2">
                            <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                      Studi FS
                                    </th>
                                    <th>
                                      DED
                                    </th>
                                    <th>
                                      Dokumen
                                    </th>
                                    <th>
                                      Bangunan
                                    </th>
                                    <th>
                                      Lahan
                                    </th>
                                    <th>
                                      Mesin&Peralatan
                                    </th>
                                    <th>
                                      Operator
                                    </th>
                                    <th>
                                      Offtaker
                                    </th>
                                </tr>
                            </thead>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                        <div class="btn btn-success" id="add-data-3">
                          <i class="fas fa-plus"></i><span> Tambah Data</span>
                        </div>
                        <hr/>
                        <input id="param" value="" hidden>
                        <table class="table table-bordered table-hover datatable" id="list_3">
                            <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                      Kapasitas
                                    </th>
                                    <th>
                                      teknologi
                                    </th>
                                    <th>
                                      Keberadaan
                                    </th>
                                    <th>
                                      Jenis
                                    </th>
                                    <th>
                                      Kerjasama
                                    </th>
                                    <th>
                                      Kesanggupan
                                    </th>
                                </tr>
                            </thead>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                      <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                      <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
            
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog modal-lg card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="id" hidden>
        <input id="idfile" hidden>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Judul Laporan</label>
                <input id="judul" name="laporan-input" type="text" class="form-control" placeholder="judul laporan ...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Deskripsi</label>
                <textarea name="summernote" id="deskripsi">
                  
                </textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Tanggal</label>
                <input id="tanggal" name="laporan-input" type="date" class="form-control" for>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Jenis Laporan</label>
                <input id="jenis" name="jenis-input" type="text" class="form-control" placeholder="jenis laporan ...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Url Google Drive</label>
                <input id="url" name="url-input" type="text" class="form-control" placeholder="url google drive ...">
              </div>
            </div>
          </div>

        <div class="row">

          <div class="col-md-12">
            <label>Publikasi</label>
            <div class="form-group">
              <input id="stat" type="checkbox" name="user-input" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-label="Ready" data-off-label="Not Ready">
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-laporan" type="button" class="btn btn-success" ><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- modal detail user -->
<div class="modal fade" id="modal-detail">
  <div class="modal-dialog modal-sm card card-danger card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body box-profile">
            <div class="text-center">
              <img id="detail-foto" class="profile-user-img img-fluid img-circle" src="assets/img/users/default.jpg" alt="User profile picture">
            </div>

            <h3 class="profile-username text-center" id="detail-name">Nina Mcintire</h3>

            <p class="text-muted text-center" id="detail-username">Software Engineer</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Status</b> <a class="float-right" id="detail-status">543</a>
              </li>
              <li class="list-group-item">
                <b>Jenis User</b> <a class="float-right" id="detail-role">13,287</a>
              </li>
            </ul>

            <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
          </div>
          <!-- /.card-body -->
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-times"> </i> Tutup</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.card -->

</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
