{% extends "admin/layout.html" %} {% block content %}
<style>
  .custom-file-label::after {
    width: 100%;
  }
</style>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-8">
        <h1><i class="nav-icon fa fa-clone"></i> Tahap Perencanaan</h1>
      </div>
      <div class="col-sm-4">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Readiness Criteria</a></li>
          <li class="breadcrumb-item active">List data</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-lightblue card-outline">
          <div class="card-header">
            <h1 class="card-title">Penilaian Readiness Criteria Lahan</h1>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                  
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-sm-12">
                <div class="card card-lightblue card-outline card-outline-tabs">
                  <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="custom-1" data-toggle="pill" href="#tab_1" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Profil Usulan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-2" data-toggle="pill" href="#tab_2" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Rencana Pembagian</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-3" data-toggle="pill" href="#tab_3" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Rencana Teknis</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-4" data-toggle="pill" href="#tab_4" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Kelengkapan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-5" data-toggle="pill" href="#tab_5" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Status Usulan</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="custom-6" data-toggle="pill" href="#tab_6" role="tab" aria-controls="custom-tabs-four-settings" aria-selected="false">Pendetailan</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content" id="custom-tabs-four-tabContent">
                      <div class="tab-pane fade show active" id="tab_1" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                          <div class="row">
                            <div class="col-sm-10">
                              <h3>1. Profil Usulan Lokasi</h3>

                            </div>
                            <div class="col-sm-2">
                              <div class="btn btn-success pull-right" id="add-data-1">
                                <i class="fas fa-plus"></i><span> Tambah Data</span>
                              </div>
                            </div>
                          </div>
                          <hr/>
                          <input id="param" value="" hidden>
                          <table class="table table-bordered table-hover datatable" id="list_1">
                              <thead>
                                  <tr>
                                      <th>
                                          No
                                      </th>
                                      <th>
                                        Jenis Infrastruktur
                                      </th>
                                      <th>
                                        Desa/Kelurahan
                                      </th>
                                      <th>
                                        Kecamatan
                                      </th>
                                      <th>
                                        Kabupaten/Kota
                                      </th>
                                      <th>
                                        Deskripsi Urgensi
                                      </th>
                                      <th>
                                        Jenis Usulan
                                      </th>
                                      <th>
                                        
                                      </th>
                                  </tr>
                              </thead>
                          </table>

                      </div>
                      <div class="tab-pane fade" id="tab_2" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                        <div class="row">
                          <div class="col-sm-10">
                            <h3>2. Rencana Pembagian Dukungan Kegiatan</h3>

                          </div>
                          <div class="col-sm-2">
                            <div class="btn btn-success pull-right" id="add-data-2">
                              <i class="fas fa-plus"></i><span> Tambah Data</span>
                            </div>
                          </div>
                        </div>
                        <hr/>
                        <input id="param" value="" hidden>
                        <table class="table table-bordered table-hover datatable" id="list_2">
                            <thead>
                                <tr>
                                    <th>
                                      No
                                    </th>
                                    <th>
                                      Studi FS
                                    </th>
                                    <th>
                                      DED
                                    </th>
                                    <th>
                                      Dokumen
                                    </th>
                                    <th>
                                      Bangunan
                                    </th>
                                    <th>
                                      Lahan
                                    </th>
                                    <th>
                                      Mesin&Peralatan
                                    </th>
                                    <th>
                                      Operator
                                    </th>
                                    <th>
                                      Offtaker
                                    </th>
                                    <th>
                                      
                                    </th>
                                </tr>
                            </thead>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="tab_3" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                        <div class="btn btn-success" id="add-data-3">
                          <i class="fas fa-plus"></i><span> Tambah Data</span>
                        </div>
                        <hr/>
                        <input id="param" value="" hidden>
                        <table class="table table-bordered table-hover datatable" id="list_3">
                            <thead>
                                <tr>
                                    <th>
                                        No
                                    </th>
                                    <th>
                                      Kapasitas
                                    </th>
                                    <th>
                                      teknologi
                                    </th>
                                    <th>
                                      Keberadaan
                                    </th>
                                    <th>
                                      Jenis
                                    </th>
                                    <th>
                                      Kerjasama
                                    </th>
                                    <th>
                                      Kesanggupan
                                    </th>
                                </tr>
                            </thead>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="tab_4" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                      <div class="tab-pane fade" id="tab_5" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                      <div class="tab-pane fade" id="tab_6" role="tabpanel" aria-labelledby="custom-tabs-four-settings-tab">
                        Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                      </div>
                    </div>
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </div>
            
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="modal-1">
  <div class="modal-dialog modal-lg card card-primary card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">1. Profil Usulan Lokasi</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="id_1" hidden>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>TPST <code>*</code>:</label>
                <input id="tpst" name="profile-input" type="text" class="form-control" placeholder="...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>NAMA DESA/KELURAHAN <code>*</code>:</label>
                <input id="desa" name="profile-input" type="text" class="form-control" placeholder="...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>NAMA KECAMATAN <code>*</code>:</label>
                <input id="kecamatan" name="profile-input" type="text" class="form-control" placeholder="...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>NAMA KABUPATEN/KOTA <code>*</code>:</label>
                <input id="kabupaten" name="profile-input" type="text" class="form-control" placeholder="...">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>URAIAN <code>*</code>:</label>
                <textarea class="summernote" name="profile-input" id="uraian" name="profile-input" >
                  
                </textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>DIREKTIF/NON-DIREKTIF <code>*</code>:</label>
                <input id="direktif" name="profile-input" type="text" class="form-control" placeholder="...">
              </div>
            </div>
            
          </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-data-1" type="button" class="btn btn-success"><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-2">
  <div class="modal-dialog modal-lg card card-primary card-outline">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">2. Rencana Pembagian Dukungan Kegiata</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="id_2" hidden>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Studi FS TPST <code>*</code>:</label>
                <select id="studi" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>DED TPST <code>*</code>:</label>
                <select id="ded" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Dokumen Lingkungan <code>*</code>:</label>
                <select id="dok" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Bangunan TPST <code>*</code>:</label>
                <select id="bangunan" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Lahan TPST <code>*</code>:</label>
                <select id="lahan" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Mesin dan Peralatan Operasional <code>*</code>:</label>
                <select id="mesin" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Operator Pengelola TPST <code>*</code>:</label>
                <select id="operator" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Offtaker Olahan Sampah <code>*</code>:</label>
                <select id="offtaker" name="rencana-input" class="form-control select2bs4">
                  <option value="0">-Pilih-</option>
                  <option value="1"> Pemerintah Pusat (APBN) </option>
                  <option value="2"> Pemerintah Provinsi (APBD Provinsi) </option>
                  <option value="3"> Pemerintah Kabupaten </option>
                  <option value="4"> Kota (APBD Kab/Kota) </option>
                  <option value="5"> Badan Usaha </option>
                </select>
              </div>
            </div>
            
          </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Tutup</button> -->
        <button id="save-data-2" type="button" class="btn btn-success"><i class="fas fa-check"> </i> Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

</section>

<!-- /.content -->


{% endblock %}
{% block js %}
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}
